

.aboutContainer {
    overflow-y: hidden;

    scroll-behavior: smooth;

    width: 500px;
    height: 50%;

    position: fixed;
    left: 435px;
    top: 192px;

    text-align: center;
}

#modelSelector {
    margin-top: 50px;
}