.moreInfoButton {
    background: none;

    border: 1px solid #838383;
    border-radius: 8px;

    display: inline-block;
    line-height: 86px;
    height: 86px;
    width: 20px;

    text-align: center;
    padding-left: 5px;

    position: relative;
    top: -12px;
    left: 10px;
}

.moreInfoClose {
    background: none;

    border: 1px solid #838383;
    border-radius: 8px;

    display: inline-block;
    line-height: 86px;
    height: 86px;
    width: 20px;

    text-align: center;
    padding-left: 5px;

    position: relative;
    left: -165px;
    top: -390px;
}

.textBox {
    position: absolute;
    left: 130px;
    padding-top: 50px;
    width: 50%;
}

.infoBox {
    stroke: black;
    fill: black;
    stroke-width: 5px;

    display: inline-block;

    height: 400px;
    width: 400px;

    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    animation: dash 5s linear infinite;
}

.infoParent {
    height: 400px;
    width: 400px;

    display: none;
}

@keyframes dash {
    to {
        stroke-dashoffset: -1000;
    }
}