

.logo {
    display: block;

    position: fixed;
    top: 20px;

    z-index: -1;
}

.path1 {
    stroke-dasharray: 5;
    animation: dash 30s linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 1000;
    }
}