.menu {
    background-color: #dcdcdc;

    display: inline-block;
    width: 300px;
    height: 500px;

    position: fixed;
    left: 100px;
    top: 180px;

    border: 3px solid #212121;
    border-radius: 30px;

    text-align: center;

    user-select: none;
}

.titleText {
    font-size: xx-large;
    font-family: "Cascadia Mono", serif;
    font-weight: bolder;
}

.menuItem {
    color: #000000;
    display: block;
    margin-top: 40px;
}

.menuButton {

    font-family: "Cascadia Mono", serif;
    color: #000000;
    font-size: 19px;
    transition: font-size 1s;

    border: none;
    background: none;

    text-decoration: none;

    left: 50%;
}

.menuButton:hover {
    font-size: 21px;
    font-weight: bold;
}

.menuButton:active {
    transition: font-size 250ms;
    font-size: 18px;
    font-weight: bold;
}

@keyframes blink {
    0% {color: #000000
    }
    50% {color: #dcdcdc}
    100% {color: #000000
    }
}

.typeBar {
    display: inline-block;
    animation: blink 0.7s step-start infinite alternate;
}