.selector {

    display: block;

    border: 1px solid #bdbdbd;
    border-radius: 8px;

    width: 50%;

    text-decoration: none;
    user-focus: none;

    background: none;
}
.selectorSubText {
    text-align: right;
    font-size: 11px;
    color: gray;
}

.selector:hover {
    border-color: #5e5e5e;
}

.selectorText {
    font-family: "Cascadia Mono", sans-serif;
    font-size: 29px;
    word-spacing: -6px;
}

.selectorTitle1 {
    color: black;
    font-weight: bolder;
}

.selectorTitle2 {
    color: gray;
    font-weight: normal;
}

.selectorPrimaryLabel {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;


    display: block;
    width: 100%;
}

.selectorPrimaryLabels {
    display: inline-block;
    width: 50%;
    height: 100%;
}

.selectorPrimaryLabelSubtext {
    color: #5e5e5e;
    font-size: 14px;
    font-weight: normal;
    text-align: center;

    display: block;
    margin-bottom: 20px;
}

.selectorSecondaryLabels {
    color: #5e5e5e;
    font-size: 12px;
    font-weight: normal;
    text-align: right;

    display: inline-block;
    width: 50%;
    height: 100%;

    margin-top: 20px;
}

.moreInfoButton {
    background: none;

    border: 1px solid #838383;
    border-radius: 4px;

    display: inline-block;

    position: relative;
    top: -55px;
    left: 160px;
}

.moreInfoButton:hover {
    border-color: black;
}