.selectorContainer {
    margin-top: 100px;
    margin-bottom: 200px;

    user-select: none;

    overflow-x: hidden;
}

.selectors {
    margin-top: 20px;
    margin-bottom: 300px;
}

.selector {

    display: block;

    margin-top: -10px;

    border: 1px solid #bdbdbd;
    border-radius: 8px;

    width: 50%;

    margin-left: 15%;

    padding-right: 11px;

    text-decoration: none;
}
.selectorSubText {
    text-align: right;
    font-size: 11px;
    color: gray;

    padding-right: 20px;
    padding-top: 10px;
}

.selector:hover {
    border-color: #5e5e5e;
}

.selectorText {
    font-family: "Cascadia Mono", sans-serif;
    font-size: 29px;
    word-spacing: -6px;
}

.selectorTitle1 {
    color: black;
    font-weight: bolder;
}

.selectorTitle2 {
    color: gray;
    font-weight: normal;
}