.selectorContainer {
    margin-top: 100%;
    margin-bottom: 200px;

    user-select: none;
}

.selectors {
    margin-top: 20px;
    margin-bottom: 300px;
}

.selectorSubText {
    text-align: right;
    font-size: 11px;
    color: gray;

    padding-right: 20px;
    padding-top: 9px;
}

.selectorText {
    font-family: "Cascadia Mono", sans-serif;
    font-size: 29px;
    word-spacing: -6px;
}

.selectorTitle1 {
    color: black;
    font-weight: bolder;
}

.selectorTitle2 {
    color: gray;
    font-weight: normal;
}