.menu {
    background-color: #dcdcdc;

    display: inline-block;
    width: 300px;
    height: 500px;

    position: fixed;
    left: 13%;
    top: 15%;

    border: 3px solid #212121;
    border-radius: 30px;

    text-align: center;

    user-select: none;

}

.titleText {
    font-size: xx-large;
    font-weight: bolder;
}

.menuItem {
    color: #000000;
    font-family: mainFont;
    display: block;
    margin-top: 40px;
}

.menuButton {
    z-index: 10;
    font-size: larger;
    transition: font-size 2s;
}

.menuButton:hover {
    font-size: xx-large;
}

@keyframes blink {
    0% {color: #000000
    }
    50% {color: #dcdcdc}
    100% {color: #000000
    }
}

.typeBar {
    display: inline-block;
    animation: blink 0.7s step-start infinite alternate;
}

@font-face {
    font-family: mainFont;
    src: url("./fonts/cour.ttf");
}